@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 500;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
html, body
{
    scrollbar-width: thin;
    scrollbar-color: var(--bs-primary) lightgray;  
	font-family: Itim, cursive;
}
#logo + span
{
	font-family: Itim, cursive;
}
.jobOffer > *:first-child
{
	font-size: .75rem;
	font-family: Itim, cursive;
	transform: translateY(-30%);
	right: 1.25rem
}
.jobOffer
{
	font-family: 'Signika Negative', sans-serif;	
	transition: .3s ease-in-out;
}
.jobOfferDisabled
{
	opacity: .5;
	filter: brightness(.9);
}
.jobOffer:hover
{
	transform: translateY(-5px);
	box-shadow: 0px 0px 1rem .25rem rgba(255, 255, 255, .6) !important;
}
.jobInfo
{
	gap: .5rem;
}
.jobInfoIcon
{
	width: 30px;
	height: 30px;
}
#mobileHeader
{
	font-family: Itim, cursive;
}
.redTooltip
{
    --bs-tooltip-bg: var(--bs-danger);
    --bs-tooltip-color: var(--bs-white);
}
.formInput > label
{
    font-size: 0.8rem;
    top: -10px;
    left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 10;
    border-radius: 3px;
    background-color: white;
    transition: all 150ms ease-in-out;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgb(101 163 106);
	font-family: 'Signika Negative', sans-serif;
}
#searchCheckboxes .formInput input:placeholder-shown:not(:focus) ~ label
{
	background-color: transparent;
}
#recentlyViewedOffers > div
{
	padding: 0 1rem;
}
#recentlyViewedOffers > div > div
{
	gap: .5rem;
	padding: 1.25rem;
}
#recentlyViewedOffers > div::after, #recentlyViewedOffers > div::before
{
	content: '';
    position: absolute;
    inset: calc(1.25rem - 6px) .8rem auto auto;
    width: 80px;
    height: calc(100% - 2.5rem + 12px);
    display: block;
    pointer-events: none;
    background-image: linear-gradient(to right, transparent 40%, rgb(65 105 225 / .5));
    filter: blur(3px);
    z-index: 1;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
#recentlyViewedOffers > div::before
{
	inset: calc(1.25rem - 6px) auto auto .8rem;
	transform: scaleX(-1);
}
#recentlyViewedOffers.moreRight > div::after, #recentlyViewedOffers.moreLeft > div::before
{
	opacity: .8;
}
#recentlyViewedOffers > div > div > div
{
	width: 280px;
}
.formInput > :is(input, textarea):placeholder-shown:not(:focus) ~ label
{
    font-size: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    left: .35rem;
    pointer-events: none;
	text-transform: none;
	font-weight: normal;
	background-color: white;
	color: gray;
}
.formInput > textarea:placeholder-shown:not(:focus) ~ label
{
	top: 0;
	transform: translateY(.5rem);
}
.moveTooltip
{
    margin-left: 1.5rem !important;
}
.footerHeading
{
	background: linear-gradient(to right, #4169E1, #8a2be2);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
footer a
{
	transition: .3s ease-in-out;
	color: white !important;
}
footer a:visited
{
	color: rgb(180 139 226);
}
footer a:hover
{
	color: #4169E1 !important;
}
#logo
{
	transform-origin: 0;
	transition: .3s ease-in-out;
}
#logo:hover
{
	transform: scale(calc(56 / 50));
	background-color: rgb(255 255 255 / .4);
}
.offcanvas
{
	border: 0 !important;
}
.offcanvas:not(.show, .showing)
{
	width: 0;
}
.offcanvas:not(.show, .showing) > *
{
	display: none;
}
body
{
	padding-right: 0 !important;
}
.form-field
{
    font-size: 1.2rem;
    display: block;
    border: 1px solid rgb(115, 115, 115);
    border-radius: 7px;
    outline: none;
}
.form-field ~ label
{
	position: absolute;
    font-size: 0.8rem;
    top: -10px;
    left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 10;
    border-radius: 3px;
    background-color: white;
    transition: all 150ms ease-in-out;
}
.form-field:placeholder-shown:not(:focus) ~ label
{
    font-size: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
    pointer-events: none;
}
:is(h1, h2, h3, h4, h5, h6)
{
	font-family: 'Signika Negative', sans-serif;
	font-weight: bold;
}
.signika-negative
{
	font-family: 'Signika Negative', sans-serif;

}
#registrationBackground
{
	background: linear-gradient(rgb(255 255 255 / .4), rgb(255 255 255 / .8)), url(./img/registration.jpg) ;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	backdrop-filter: blur(.75rem);

}
body
{
	min-height: 100vh;
	background-color: #DDD;
	display: flex;
	flex-direction: column;
}
header
{
	background: linear-gradient(to right, rgb(101 163 106 / .8), rgb(101 163 106 / .5), rgb(101 163 106 / .8));
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	position: sticky;
	top: 0;
	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / .15), 0 0 1rem rgb(0 128 0 / .8) inset;
	backdrop-filter: blur(15px) saturate(0.4);	
	z-index: 999;
}
header.isScrolled
{
	position: fixed;
	top: -100px;
	transform: translateY(100px);
	transition: transform .5s ease-in-out;
	width: 100%;
}
main
{
	flex: 1;
	margin-top: 1rem;
}
footer
{
	min-height: 70px;
	background: linear-gradient(to bottom, rgb(101 163 106 / .8), rgb(101 163 106 / .5), rgb(101 163 106 / .8));
	font-family: "Itim", cursive;
}
#banner
{
	min-height: 400px;
	background-image: url(finding_job.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	font-family: 'Signika Negative', sans-serif;
}
#banner section
{
	background-color: rgb(255 255 255 / .6);
	border-radius: .75rem;
	backdrop-filter: blur(15px);	
	max-width: 80%;
	width: fit-content;	
	font-size: 1.8rem;
}
#counter
{
	display: flex;
	gap: .1rem;
	height: 2.5rem;
	overflow: hidden;
}
#counter > div
{
	font-size: 2.2rem;
	color: darkgreen;
	line-height: 2.5rem;
}
#counter > div > div
{
	text-shadow: 0 0 .4rem rgb(30 144 255 / .5);
	height: 40px;
}
footer
{
	display: flex;
	flex-wrap: wrap;
	padding: .4rem;
	margin-top: 1.5rem;
}
.commonButton, .successButton, .dangerButton
{
	border: 2px solid;
	font-weight: bold;
	border-radius: 1.5rem;
	letter-spacing: 2px;
	margin: 0 .25rem;
	padding: .75rem 1.5rem;
	font-family: 'Signika Negative', sans-serif;
	transition: .3s ease-in-out;
	color: white;

}
.commonButton
{
	background-color: #4169E1;
}
.commonButton:hover
{
	background-color: #8fa2d8;
    box-shadow: 0 0 12px 5px #4169E1 inset;
}
.successButton
{
	background-color: green;
}
.successButton:hover:not(:disabled)
{
	background-color: rgb(91, 156, 91);
    box-shadow: 0 0 12px 5px green inset;
}
.dangerButton
{
	background-color: red;
}
.dangerButton[disabled]
{
	opacity: .3;
}
.dangerButton:hover:not(:disabled)
{
	background-color: rgb(255, 131, 131);
	box-shadow: 0 0 12px 5px red inset;
}
.companyProfileButton, #reload, #applyingProfileButton, .addToProfileButton, #deleteButton
{
	font-size: .8rem;
}
#advertisementInfo > section
{
	grid-template-columns: minmax(0, 2.5fr) minmax(250px, 1fr);
	grid-auto-flow: dense;
	gap: 1rem;
	margin-top: -4rem;
}
#advertisementInfo > section > section
{
	border-radius: .5rem;
	background-color: white;
	box-shadow: 0 .25rem .5rem .125rem rgb(0 0 0 / .15);
	word-break: break-all;
	padding: .75rem;
}
#advertisementInfo > section > section:first-child
{
	grid-column: 2;
	grid-row: 1 / 6;
	height: fit-content;
	min-height: 8rem;
	gap: .5rem;
	position: sticky;
	word-break: initial;
	top: 6rem;
}
@media(max-width: 768px)
{
	#advertisementInfo > section
	{
		grid-template-columns: 1fr;
	}
	#advertisementInfo > section > section:first-child
	{
		position: fixed;
		top: auto;
		bottom: 0;
		width: 100%;
		grid-column: 1;
		margin-left: -.75rem;
	}
	#offerBody footer
	{
		margin-bottom: 8rem;
	}
}
.profileHeader
{
	top: 80px;
	z-index: 2;
	background-color: rgb(92 157 255 / .9);
}
.companyProfileHeader
{
	background-color: rgb(138 43 226 / .9);
}
.companyProfileHeader .badge
{
	background-color: rgb(254 153 0);
}
.profileHeader :is(h3, h5)
{
	overflow-wrap: anywhere;
}
#profilePicture
{
	border: .2rem inset darkblue;
	border-radius: 50%;
	object-fit: cover;
}
#profilePictureEdit p
{
	max-width: 10rem;
	font-size: .8rem;
}
.companyProfileHeader #profilePicture
{
	border-color: darkorange;
	border-radius: .5rem;
}
.profileLinks
{
	gap: .5rem;
	background-color: rgb(102 153 255);
}
:is(.profileLinks > a, span[role="button"])
{
	transition: .3s ease-in-out;
}
.profileLinks > a:hover, span[role="button"]:hover
{
	transform: scale(1.15);
}
:is(.profilePositionDate, .profileEducationDate)
{
	width: 150px;
}
:is(.profilePositionInfo, .profileEducationInfo)
{
	width: calc(100% - 150px);
}
.pagination > :is(:last-child, :first-child) > button > :last-child::before
{
	margin-left: -.5rem;
}
#editOfferButton, #recentlyViewedOffers > div > button
{
	width: 3rem;
	height: 3rem;
	transition: .3s ease-in-out;
	transform: translateY(.5rem);
	z-index: 2;
}
#recentlyViewedOffers > div > button
{
	top: 50%;
	left: 1.25rem;
	transform: translateY(-50%);
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s ease-in-out, visibility .1s, filter .3s ease-in-out;
}
:is(#recentlyViewedOffers.moreRight > div > button:last-of-type, #recentlyViewedOffers.moreLeft > div > button:first-of-type)
{
	visibility: visible;
	opacity: 1;
}
#recentlyViewedOffers > div > button:last-of-type
{
	left: initial;
	right: 1.25rem;
}
:is(#editOfferButton, #recentlyViewedOffers > div > button):hover
{
	filter: brightness(1.5);
}
#profilePictureEdit label::after
{
	content: '\F219';
	position: absolute;
	font-family:'Bootstrap-icons';
	font-size: 2rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9;
	cursor: pointer;
	border-radius: 50%;
	transition: .3s ease-in-out;
	background-color: rgb(0 0 0 / .65);
}
#profilePictureEdit label:hover::after
{
	opacity: 1;
}
.profileAppliedOffers
{
	gap: .75rem;
	transition: box-shadow .3s ease-in-out;
}
.profileAppliedOffers:hover
{
	box-shadow: rgb(0 0 0 / .15) 0px .5rem 1rem 0px;
}
.profileAppliedOffers > img
{
	object-fit: cover;
}
#searchCheckboxes input
{
	cursor: pointer;
	transition: .5s ease-in-out;
	text-overflow: ellipsis;
}
#searchCheckboxes input:hover
{
	background-color: rgb(65 105 225 / .2);
}
#searchCheckboxes > div > div::after
{
	font-family: 'Bootstrap-icons';
	content: '\F229';
	position: absolute;
	right: .5rem;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	pointer-events: none;
}
#error404 > img
{
	max-width: 520px;
}